.container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding-top: 2em;
}

.main{
    width: 60%;
}

.img{
    display: flex;
    justify-content: space-around;
    padding-top: 5em;
    width: 30%;
}

.link{
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
}

.link1{
    margin: 10px;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
}

.link:hover{
    background-color: rgba(10, 9, 9, 0.76);
    color: white;
}

.link1:hover{
    background-color: rgba(10, 9, 9, 0.76);
    color: white;
}

.project{
    overflow-wrap: break-word;
    padding: 20px;
    border: 1px solid black;
}

.span{
    font-size: 20px;
    font-weight: bold;
}