.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main{
    width: 60%;
}

.description{
    display: flex;
    min-height: 100px;
}

.img{
    display: flex;
    justify-content: center;
    width: 30%;
}
.link{
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
}

.link:hover{
    background-color: rgba(10, 9, 9, 0.76);
    color: white;
}