.container{
    background-color: #e5e5e5;
    height: 100%;
    overflow-y: scroll;
    padding-bottom: 3em;
}

.title{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}

img{
    border-radius: 8px;
}

.question{
    padding: 3em;
}

li{
    border-bottom: 0px;
}

.q1{
    animation-name: slideinleft;
    animation-duration: 1.0s;
}

.q2{
    animation-name: slideinright;
    animation-duration: 1.5s;
}

@keyframes slideinleft {
    from {
        margin-left: 100%;
      }
    
    to {
        margin-left: 0%;
    }
}

@keyframes slideinright {
    from {
      margin-left: -100%;
    }
  
    to {
      margin-left: 0%;
    }
}

.answer{
    display: flex;
    padding: 0em 5em 5em 5em;
}

.text{
    width: 60%;
    color: rgba(0, 0, 0, 0.76);
}

.img{
    width: 40%;
    display: flex;
    justify-content: center;
}

.link{
    text-decoration: none;
    border-radius: 8px;
    padding: 5px;
    background-color: rgb(17, 248, 48);
    color: #fff;
}

.link:hover{
    color: rgba(37, 24, 24, 0.466);
}

.createButton{
    display: flex;
    justify-content: center;
 }

 span{
     font-weight: bold;
     font-size: 24px;
 }